.domain {
  max-width: 820px;
  margin: auto;
}

.banner {
  width: 788px;
}

.d-second {
  background: #ffffff;
  border-radius: 8px;
}

.domain-ip {
  outline: none;
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  max-width: 438px;
  outline: none;
  border-radius: 12px;
  background: #FAFAFA;
  color: #817C7C;
}

.domain-ip:focus{
  color: #1A1A1A;
}

.d-third {
  background: #fafafa;
  border-radius: 8px;
}

ul {
  list-style-type: disc;
  font-size: 0.875rem;
  font-weight: 400;
}

li {
  line-height: 2;
}

ul li::marker {
  color: #f54040;
  font-size: 1.5em;
}

ul p {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 2;
}