.trending-btn {
  padding: 18px;
  border: none;
  background: linear-gradient(to right, #fe7171, #f54040);
  cursor: pointer;
}

.performance-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 20px rgba(216, 216, 216, 0.12);
}
.performance-card-para {
  color: #817c7c;
  font-size: 14px;
  font-weight: 400;
}
.performance-card-para2 {
  font-size: 28px;
  color: #1a1a1a;
  font-size: 600;
}


@media (max-width: 568px) {
  .trending-btn{
    padding: 14px;
  }
  .performance-card-para{
    font-size: 12px;
  }
  .performance-card-para2{
    font-size: 20px;
  }
}