.parent_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    font-family: Poppins;
    overflow: hidden;

}


@media only screen and (max-width: 567px) {
    .first_heading {
        font-size: 24px;

    }

    .form_container {
        width: 250px;

    }

    .main_container {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .second_heading {
        display: flex;
        justify-content: center;
        font-size: 14px;
        margin-top: -10px;
        margin-left: -60px;
    }

    .forget_container {
        font-size: 12px;
    }

}



.alphanumericbox-ul li::marker {
    color: #1a1a1a;
    font-size: 14px;
}