.review_container {
  background: #fafafa;
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
}

.dropDown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  height: 3rem;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  border-radius: 4rem;
}

.dropDown_popup {
  position: absolute;
  right: 0.5rem;
  top: 3.5rem;
  background-color: #ffffff;
  width: 10.875rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 2.5rem 0.0625rem rgba(171, 181, 217, 0.32);
}

.dropDown_popup_item {
  padding: 0.8125rem;
  border-radius: 0.5rem;
}

.dropDown_popup_item:hover {
  cursor: pointer;
  background: #f3f3f3;
  font-weight: 500;
}

.review_grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2.5rem;
  gap: 32px;
}

.zeroReview_text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 3rem;
  color: #1a1a1a;
}

.review_label {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding: 0.5rem;
  min-width: fit-content;
}

.review_number {
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  margin-left: 0.25rem;
  color: #ffffff;
  background: #1a1a1a;
  border-radius: 2.5rem;
}

.reply_input {
  min-height: 6.625rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
  border: 0.0625rem solid #dfdbd8;
  border-radius: 0.5rem;
  padding: 0.5625rem 0.5rem 0.5625rem 0.75rem;
  text-align: start;
}

.reply_input:focus {
  outline: none;
}

.reply_comp_btn_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 1.5rem 1rem 1.5rem 0rem;
}

.review_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-between;
  max-width: 360px;
  padding: 1rem;
  border: 0.0625rem solid #f3f3f3;
  border-radius: 0.5rem;
  box-shadow: 0.375rem 0.375rem 1.5rem 0.0625rem rgba(171, 181, 217, 0.18);
}

.review_card_btn_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding: 1.125rem 0rem 0.125rem 0rem;
}

.message {
  display: flex;
  /* position: absolute; */
  bottom: 2.5rem;
  color: #ffffff;
  align-items: center;
  /* left: 37.0625rem; */
  /* left: 50%; */
  /* min-width: fit-content; */
  width: 32.375rem;
  height: 3.5rem;
  background: #1a1a1a;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

@media screen and (max-width: 48rem) {
  .review_container {
    background-color: #ffffff;
    min-height: 100vh;
  }

  .message {
    width: 100%;
    margin: 0 1.25rem 0 1.25rem;
  }

  .dropDown {
    border: 0.0625rem solid #f3f3f3;
  }

  .message {
    max-width: fit-content;
  }
}

@media screen and (max-width: 40rem) {
  .review_grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .review_card {
    margin: auto;
  }
}

@media screen and (max-width: 57.5rem) and (min-width: 48rem) {
  .review_grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .review_card {
    margin: auto;
  }
}

@media screen and (max-width: 80rem) {
  .review_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}