@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.tapop-logo {
  width: 154.78px;
  height: 40px;
  margin: 36px 0 50px 20px;
}

.list-text {
  /* padding: 0.75em 3.211em 0.75em 0; */
  padding: 14px 0;
  font-size: 1rem;
  color: #a7a7a7;
  font-weight: 400;
}

.bottom-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.list-icon {
  color: #a7a7a7;
  font-size: 0.875rem;
  margin-left: 1.188em;
}

.link-item:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.sb {
  padding: 0 2em 0 2em;
  background-color: #1a1a1a;
}

.active {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.12);
  color: white;
  margin-top: 0.2em;
}
.active p {
  color: white;
}

.active span {
  color: #fb3909;
  /* background: linear-gradient(160deg,rgba(255,24,92,1)0%,rgba(246,96,2,1)40%); */
  font-size: 1.2rem;
  /* background: linear-gradient(to right, #ff5f6d, #ffc371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.notActive {
  margin-top: 0.2em;
  display: flex;
  align-items: center;
  gap: 10px;
}

.notActive span {
  font-size: 1.2rem;
}

/* navbar  */

.arrow {
  font-size: 1.5rem;
}

nav {
  padding: 1em 1.5em 1em 1.5em;
}

.navlink-div {
  width: 200px;
  margin-right: 0;
}

@media (min-width: 768px) and (max-width: 925px) {
  .list-text {
    min-width: 160px;
    padding-right: 0;
  }
}
