.hover-container {
  position: absolute;
  background-color: #ffffff;
  font-size: 0.875rem;
  height: 160px;
  width: 90vw;
  max-width: 397px;
  font-weight: 400;
  z-index: 4;
  border-radius: 12px;
  color: black;
  top: 60px;
  padding: 24px;
  box-shadow: 8px 8px 40px 1px rgba(171, 181, 217, 0.32);
}
.hover-heading {
  font-weight: 600;
}
.hover-underline {
  background: linear-gradient(225deg, #FB6609 0%, #E40849 100%);
  width: 97px;
}

@media (max-width: 768px) {
  .hover-container {
    padding: 16px;
  }
}