.f-button {
  padding: 0.563em 0 0.563em 1em;
  font-size: 1rem;
  text-align: left;
  font-weight: 400;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: black;
  min-width: 204px;
}

@media (min-width:769px) and (max-width:925px){
  .f-button {
    min-width: 150px;
  }
}

.f-button:hover {
  background: rgba(243, 243, 243, 1);
}

.f-button.active {
  background:  linear-gradient(225deg, #FB6609 0%, #E40849 100%);
  color: white;
}

/* modals  */

.modal1-para {
  color: #817c7c;
  font-weight: 400;
}

.modal1-ip-field {
  padding: 12px 16px;
  outline: none;
  background-color: #FAFAFA;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .f-button {
    display: flex;
    justify-content: center;
    padding: 9px 1rem !important;
    min-width: fit-content !important;
    font-size: 14px;
  }
}

/* Search Bar Close Icon */
::-webkit-search-cancel-button {
  transform: scale(1.3);
  cursor: pointer;
}