.user2{
    display: flex;
    margin: 150px 45px 45px 45px;
    justify-content: center;
    color: rgb(128, 19, 0);
    /* position: absolute */
}
.user{
    display: flex;
    margin: 45px 45px 45px 45px;
    justify-content: center;
    color: rgb(128, 19, 0);
    position: absolute;
}