.conn_container {
  background: #fafafa;
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
}

.dropDown {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #f3f3f3;
  height: 3rem;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  border-radius: 4rem;
}

.dropDown_popup {
  position: absolute;
  right: 0%;
  top: 118%;
  background-color: #ffffff;
  width: 215px;
  padding: 20px;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 2.5rem 0.0625rem rgba(171, 181, 217, 0.32);
  z-index: 2;
}
.dropDown_popup_mobile {
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: #ffffff;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 2.5rem 0.0625rem rgba(171, 181, 217, 0.32);
  z-index: 2;
  border: 2px solid red;
}

.dropDown_popup_item {
  padding: 0.8125rem;
  border-radius: 0.5rem;
}

.dropDown_popup_item:hover {
  cursor: pointer;
  background: #f3f3f3;
  font-weight: 500;
}

.zeroConn_text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 3rem;
  color: #1a1a1a;
}

.conn_table {
  background: #ffffff;
  padding: 1rem;
  margin: 12px 24px;
  min-height: 47.6875rem;
  border-radius: 0.5rem;
}

.conn_table_heading {
  color: #1a1a1a;
  /* padding-left: 0.5rem; */
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.conn_card_container {
  display: flex;
  align-items: center;
  max-width: 1040px;
  width: 100%;
  height: 100%;
  padding: 0.75rem 0rem 0.75rem 0rem;
  border-bottom: 0.0625rem solid #f3f3f3;
  border-radius: 0.75rem;
}

.conn_card_char {
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #f3f3f3;
  border-radius: 100%;
  min-width: 3rem;
  max-width: 3rem;
  min-height: 3rem;
  max-height: 3rem;
  background: #fff1fc;
  color: #7a2066;
  font-weight: 600;
}
.conn_card_char_4 {
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #f3f3f3;
  border-radius: 100%;
  min-width: 3rem;
  max-width: 3rem;
  min-height: 3rem;
  max-height: 3rem;
  background: #d8efff;
  color: #7a2066;
  font-weight: 600;
}

.card_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 624.9375rem;
  background: #fafafa;
  width: 2.5rem;
  height: 2.5rem;
}

.card_icon:hover {
  cursor: pointer;
}

.card_label {
  color: #1a1a1a;
  padding-left: 0.5rem;
  width: 10.25rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.export_btn {
  margin-right: 1rem;
}

.view-message-color {
  background: linear-gradient(225deg, #fb6609 0%, #e40849 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 48rem) {
  .conn_container {
    background-color: #ffffff;
  }

  .message {
    width: 100%;
    margin: 0 1.25rem 0 1.25rem;
  }

  .dropDown {
    border: 0.0625rem solid #f3f3f3;
  }

  .conn_table_container {
    display: inline;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .export_btn {
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    left: 0;
    padding: 1.25rem 0.75rem;
  }
}

@media screen and (max-width: 41.75rem) {
  .conn_table_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 58.75rem) and (min-width: 48rem) {
  .conn_table_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 80rem) and (min-width: 58.75rem) {
  .conn_table_container {
    display: inline;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 80rem) {
  .conn_card_container {
    padding: 1rem;
    border: 0.0625rem solid #f3f3f3;
    box-shadow: 0.375rem 0.375rem 1.5rem 0.0625rem rgba(171, 181, 217, 0.18);
    border-radius: 0.75rem;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
  }

  .conn_table_container {
    gap: 1rem;
  }

  .card_label {
    padding-left: 0;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .dropDown_popup {
    left: 2%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .conn_table {
    padding-inline: 0;
  }
}

@media (max-width: 578px) {
  .conn_container {
    background: white;
    padding: 1.25rem;
  }

  .conn_card_container {
    width: 100%;
    max-width: 100%;
  }

  .dropDown_popup {
    left: 2%;
  }
}

@media (max-width: 340px) {
  .conn_container {
    padding: 1rem;
  }

  .dropDown_popup {
    left: 0;
    width: 100%;
    text-align: center;
  }
}
