#myModal {
  /* display: block; display none by default */
  width: 100%;
  height: 100vh;
  background: rgba(26, 26, 26, 0.52);
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}
.modal-content {
  width: 640px;
  height: 610px;
  background-color: #fff;
  color: #333;
  margin: 50px auto;
  border-radius: 1rem;
  position: relative;
}

.modal-content .close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}
.modal-child-div {
  overflow-y: scroll;
}
.modal-child-div {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.modal-child-div::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media screen and (max-width: 768px) {
  #myModal {
    align-items: flex-end;
  }
  .modal-content {
    width: 100%;
    height: 90vh;
    min-height: 280px;
    margin-bottom: 0;
  }
  .modal-content {
    border-radius: 1rem 1rem 0 0;
  }
}
