#myModal {
    /* display: block; */
    /* display none by default */
    width: 100%;
    height: 100vh;
    background: rgba(26, 26, 26, 0.52);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    /* overflow-y: scroll; */
    /* padding-bottom: 80px; */
    overflow-y: hidden;
}

.modal-content {
    overflow-x: hidden;
    width: 640px;
    height: 610px;
    background-color: #fff;
    color: #333;
    margin: 50px auto;
    border-radius: 1rem;
    position: relative;

    z-index: 100;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; */
    overflow-y: hidden;
}

.modal-content .close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.modal-child-div {
    overflow-y: scroll;
    overflow-x: hidden;

}

.modal-child-div {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.modal-child-div::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

@media screen and (max-width: 768px) {
    #modal {
        transform: translate(0);
        position: fixed;
        top: 4rem;
        right: 0;
        left: 0;
        height: calc(100vh - 4rem);
        max-height: calc(100vh - 4rem);
        border-radius: 16px 16px 0 0;
    }

    .modal-content {
        width: 100%;
        height: 90vh;
        min-height: 280px;
        margin-bottom: 0;

        bottom: 0;
        position: absolute;
    }

    .modal-content {
        border-radius: 1rem 1rem 0 0;
    }
}